version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    ports:
      - "5431:5432"
    volumes:
      - pg_e_data:/var/lib/postgresql/data

volumes:
  pg_e_data:
